artifacts/
**/.gradle/
**/.kotlin/
**/build/
**/local.properties
**/.cxx/
**/node_modules/
**/__pycache__/
**/.pytest_cache/
**/ui/dist/
*.keystore
*.jks
runtime/config/
runtime/log/
runtime/temp/

android/app/src/main/assets/*.zip
android/app/src/main/jniLibs/
